body {
  background-color: #f39c12;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.8em;
  font-weight: 900;
}

#app, #score {
  display: flex;
}

#player {
  background: linear-gradient(45deg, #b87a08, #f1af43);
}

#dealer {
  background: linear-gradient(45deg, #e67e22, #ffbd83);
}

.board, .score  {
  width:100%;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.score {
  height: 10vh;
  background-color: #fff12f;
  
}
.board {
  height: 80vh;
}
audio{
  display: none;
}

.dice {
  background-image: url('../images/dice-sprite.png');
  width: 100px;
  height: 100px;
  margin: 1em;
}
#gameConfig {
  background: linear-gradient(45deg, #7ab857, #cef367);
  display: flex;
  align-content: center;
  gap: 4em;
  padding: 0.5em;
  height: 10vh;
}
button{
  border-radius: 1em;
  border : none;
  cursor: pointer;
  width: 10em;
  background: linear-gradient(45deg, #3b7688, #82a0cc);
  color: #fff;
}
button, .dice{
  box-shadow: 2px 2px 2px #000;
}

/*Messages popup*/

#message-zone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: .5rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  max-width: 30vw;
}

.message {
  padding: 1rem;
  border-radius: 3px;
  border-bottom: 3px solid;
  color:#fff;
  cursor: pointer;
}

.message--success {
  background-color: #71B671;
  border-color: #508050;
}
.message--error {
  background-color: #CA5B53;
  border-color: #853b36;
}
.message--warning {
  background-color: #F8A720;
  border-color: #a87215;
}

.message--info {
  background-color: #52A8C2;
  border-color: #2c5a68;
}
